<!doctype html>
<html lang="en">

  <head>
    <title>Need and Deed &dash; About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">
    

    {% load static %}
    <link rel="stylesheet" href="{% static 'home/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

  </head>


  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container mb-3">
          <div class="d-flex align-items-center">
            <div class="site-logo mr-auto">
              <a href="Home">Need and Deed<span class="text-primary">.</span></a>
            </div>
            <div class="site-quick-contact d-none d-lg-flex ml-auto ">
              <div class="d-flex site-info align-items-center mr-5">
                <span class="block-icon mr-3"><span class="icon-map-marker text-yellow"></span></span>
                <span>Available in most cities <br> and towns</span>
              </div>
              <div class="d-flex site-info align-items-center">
                <span class="block-icon mr-3"><span class="icon-clock-o"></span></span>
                <span>Active<br> 24x7 </span>
              </div>
              
            </div>
          </div>
        </div>


        <div class="container">
          <div class="menu-wrap d-flex align-items-center">
            <span class="d-inline-block d-lg-none"><a href="#" class="text-black site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-black"></span></a></span>

              

            <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto ">
                <li><a href="home" class="nav-link">Home</a></li>
                <li><a href="search" class="nav-link">Search</a></li>
                <li><a href="login" class="nav-link">Login</a></li>
                <li><a href="signup" class="nav-link">Register</a></li>
                <li class="active"><a href="about" class="nav-link">About</a></li>
                <li><a href="gift" class="nav-link">Gift</a></li>
                <li><a href="contact" class="nav-link">Contact</a></li>
              </ul>
            </nav>

              <div class="top-social ml-auto">
                <a href="#"><span class="icon-facebook text-teal"></span></a>
                <a href="#"><span class="icon-twitter text-success"></span></a>
                <a href="#"><span class="icon-linkedin text-yellow"></span></a>
              </div>
          </div>
        </div>

       

      </header>

    <div class="ftco-blocks-cover-1">
       <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('static/home/images/blood.png')">
        <div class="container">
          <div class="row align-items-center ">

            <div class="col-md-5 mt-5 pt-5">
              <span class="text-cursive h5 text-red">Welcome To Our Website</span>
              <h1 class="mb-3 font-weight-bold text-teal">About Us</h1>
              <p><a href="home" class="text-white">Home</a> <span class="mx-3">/</span> <strong>About</strong></p>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    

    <div class="site-section bg-warning">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <img src="{% static 'home/images/img_1.jpg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
            <span class="text-cursive h5 text-red">About Us</span>
            <h3 class="text-black">Bring Fun To Millions Of Lives</h3>
            <p><span>We offer services were one willing to donate blood can register in out site. People in need of blood need not run here and there during emergency. This is a place where the donors and the acceptors meet.</span></p>

            <p class="mt-5"><a href="#" class="btn btn-primary py-4 btn-custom-1">More About Us</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-teal">
      <div class="container">
        <div class="row justify-content-center text-center mb-5 section-2-title">
          <div class="col-md-6">
            <span class="text-cursive h5 text-red">The Team</span>
            <h3 class="text-white text-center">Meet The Team</h3>
          </div>
        </div>
        <div class="row align-items-stretch">

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1 teal">
              
                <img src="{% static 'home/images/person_1.jpg' %}" alt="Image"
                 class="img-fluid">
            
              <div class="post-entry-1-contents">
                <span class="meta">Founder</span>
                <h2>Bharathi</h2>
                <p>Lead developer<br>Full stack<br>Python Programmer</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 mb-5">
              <div class="post-entry-1 h-100 person-1 teal">
                
                  <img src="{% static 'home/images/person_1.jpg' %}" alt="Image"
                   class="img-fluid">
              
                <div class="post-entry-1-contents">
                  <span class="meta">Founder</span>
                  <h2>Prakash</h2>
                  <p>Lead developer<br>Full stack<br>Python Programmer</p>
                </div>
              </div>
            </div>
          
          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1 red">
              
                <img src="{% static 'home/images/person_3.jpg' %}" alt="Image"
                 class="img-fluid">
            
              <div class="post-entry-1-contents">
                <span class="meta">Community</span>
                <h2>Yourself</h2>
                <p>This is not possible without your support and help. This community means a lot to us</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    
    
    <div class="site-section bg-info">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <span class="text-cursive h5 text-red d-block">For your needs and deeds</span>
            <h2 class="text-white">Services</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="package text-center bg-white">
              <span class="img-wrap"><img src="{% static 'home/images/flaticon/svg/001-jigsaw.svg' %}" alt="Image" class="img-fluid"></span>
              <h3 class="text-teal">Search</h3>
              <p>Search for blood donors and blood banks near you. Don't have to register. Search with your phone number and location.</p>
              <p><a href="search" class="btn btn-primary btn-custom-1 mt-4">Search</a></p>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="package text-center bg-white">
              <span class="img-wrap"><img src="{% static 'home/images/flaticon/svg/002-target.svg' %}" alt="Image" class="img-fluid"></span>
              <h3 class="text-success">Register</h3>
              <p>Create an account to donate blood. You will be notified when someone around you needs blood. Acceptors can register to gift donors.</p>
              <p><a href="login" class="btn btn-warning btn-custom-1 mt-4">Register</a></p>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="package text-center bg-white">
              <span class="img-wrap"><img src="{% static 'home/images/flaticon/svg/003-mission.svg' %}" alt="Image" class="img-fluid"></span>
              <h3 class="text-danger">Login</h3>
              <p>Update your info. Change preference. Gift. Donate. Even delete your account, if you are not interested.</p>
              <p><a href="login" class="btn btn-success btn-custom-1 mt-4">Login</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <footer class="site-footer">
    </footer>

    </div>

    <script src="{% static 'home/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'home/js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'home/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'home/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'home/js/aos.js' %}"></script>

    <script src="{% static 'home/js/main.js' %}"></script>

  </body>

</html>

