<!doctype html>
<html lang="en">

  <head>
    <title>Need and Deed &dash; Gift</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">
    

    {% load static %}
    <link rel="stylesheet" href="{% static 'home/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

  </head>


  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container mb-3">
          <div class="d-flex align-items-center">
            <div class="site-logo mr-auto">
              <a href="home">Need and Deed<span class="text-primary">.</span></a>
            </div>
            <div class="site-quick-contact d-none d-lg-flex ml-auto ">
              <div class="d-flex site-info align-items-center mr-5">
                <span class="block-icon mr-3"><span class="icon-map-marker text-yellow"></span></span>
                <span>Available in most cities <br> and towns</span>
              </div>
              <div class="d-flex site-info align-items-center">
                <span class="block-icon mr-3"><span class="icon-clock-o"></span></span>
                <span>Active<br> 24x7 </span>
              </div>
              
            </div>
          </div>
        </div>


        <div class="container">
          <div class="menu-wrap d-flex align-items-center">
            <span class="d-inline-block d-lg-none"><a href="#" class="text-black site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-black"></span></a></span>

              

            <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto ">
                <li><a href="home" class="nav-link">Home</a></li>
                <li><a href="search" class="nav-link">Search</a></li>
                <li><a href="login" class="nav-link">Login</a></li>
                <li><a href="signup" class="nav-link">Register</a></li>
                <li><a href="about" class="nav-link">About</a></li>
                <li class="active"><a href="gift" class="nav-link">Gift</a></li>
                <li><a href="contact" class="nav-link">Contact</a></li>
              </ul>
            </nav>

              <div class="top-social ml-auto">
                <a href="#"><span class="icon-facebook text-teal"></span></a>
                <a href="#"><span class="icon-twitter text-success"></span></a>
                <a href="#"><span class="icon-linkedin text-yellow"></span></a>
              </div>
          </div>
        </div>

       

      </header>

    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay baby" data-stellar-background-ratio="0.5" style="background-image: url('static/home/images/blood.png')">
        <div class="container">
          <div class="row align-items-center ">

            <div class="col-md-5 mt-5 pt-5">
              <span class="text-cursive h5 text-red">Support us</span>
              <h1 class="mb-3 font-weight-bold text-teal">Gift and Donations</h1>
              <p><a href="home" class="text-white">Home</a> <span class="mx-3">/</span> <strong>gift</strong></p>
            </div>
            
          </div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="text-cursive h5 text-red d-block">Support us</span>
            <h2 class="text-black">Gift and Donations</h2>
            <p>We are doing this without anything. Still we have expances to run this service. Donate what you can and help us continue our job.</p>
          </div>
          <div class="col-md-4">
            <div class="pricing teal">
              <span class="price">
                <span>D</span>
              </span>
              <h3>Support Developers</h3>
              <ul class="ul-check list-unstyled teal">
                <li>Help us continue</li>  
                <li>Provide what you can</li>
              </ul>
              <p><a href="login" class="btn btn-teal btn-custom-1 mt-4">Donate</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="pricing danger">
              <span class="price">
                <span>G</span>
              </span>
              <h3>Gift Donors</h3>
              <ul class="ul-check list-unstyled danger">
                <li>Encourge blood donations</li>  
                <li>Gift your donors</li>
              </ul>
              <p><a href="login" class="btn btn-danger btn-custom-1 mt-4">Gift</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section bg-info">
        <div class="container">
         <h2 class="text-white">Donations</h2>
         <table class="table table-striped table-dark">
             <tbody>
             {% for d in ds %}
             <tr>
               <td>{{ d.sname }} donated {{ d.amount }} to {{ d.rname }}</td>
             </tr>
             {% endfor %}
             </tbody>
           </table>
         </div>
       </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <span class="text-cursive h5 text-red d-block">Testimonial</span>
            <h2 class="text-black">What Our Benefited Says About Us</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="testimonial-3-wrap">
              

              <div class="owl-carousel nonloop-block-13">
                <div class="testimonial-3 d-flex">
                  <div class="vcard-wrap mr-5">
                    <img src="{% static 'home/images/person_1.jpg' %}" alt="Image" class="vcard img-fluid">
                  </div>
                  <div class="text">
                    <h3>Muthuhariharan</h3>
                    <p class="position">Chennai</p>
                    <p>Someone I have never met saved my life. Thanks to him and the site.</p>
                  </div>
                </div>

                <div class="testimonial-3 d-flex">
                  <div class="vcard-wrap mr-5">
                    <img src="{% static 'home/images/person_3.jpg' %}" alt="Image" class="vcard img-fluid">
                  </div>
                  <div class="text">
                    <h3>Priya</h3>
                    <p class="position">Bangalore</p>
                    <p>I have donated blood twice. It makes me feel more human.</p>
                  </div>
                </div>

                <div class="testimonial-3 d-flex">
                  <div class="vcard-wrap mr-5">
                    <img src="{% static 'home/images/person_2.jpg' %}" alt="Image" class="vcard img-fluid">
                  </div>
                  <div class="text">
                    <h3>Harshini</h3>
                    <p class="position">Madurai</p>
                    <p>You are doing a good job guys. Please continue it.</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row mt-5 justify-content-center">

          <div class="col-md-8">
            

            <div class="row">
              <div class="col-lg-3 text-center">
                <span class="text-teal h2 d-block">3423</span>
                <span>Total Donations</span>
              </div>
              <div class="col-lg-3 text-center">
                <span class="text-yellow h2 d-block">4398</span>
                <span>No. of Donors</span>
              </div>
              <div class="col-lg-3 text-center">
                <span class="text-success h2 d-block">50+</span>
                <span>Cites</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    

    <footer class="site-footer">
    </footer>

    </div>

    <script src="{% static 'home/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'home/js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'home/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'home/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'home/js/aos.js' %}"></script>

    <script src="{% static 'home/js/main.js' %}"></script>

  </body>

</html>

