<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Title Page-->
    <title>{{ msg1 }}</title>

    {% load static %}
    <!-- Icons font CSS-->
    <link href="{% static 'signup/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'signup/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{% static 'signup/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'signup/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'signup/css/main.css' %}" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-red p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">{{ msg1 }}</h2>
                    <div class="p-t-10">
                        <h3>{{ msg2 }}</h3>
                        <h5>{{ msg3 }}</h5><br><br>
                        {% if msg4 == 'slh' %}
                        <a href="signup"><button class="btn btn--radius btn--green">Sign up</button></a>
                        <a href="login"><button class="btn btn--radius btn--green">Login</button></a>
                        <a href="home"><button class="btn btn--radius btn--green">Home</button></a>
                        {% endif %}
                        {% if msg4 == 'lh' %}
                        <a href="login"><button class="btn btn--radius btn--green">Login</button></a>
                        <a href="home"><button class="btn btn--radius btn--green">Home</button></a>
                        {% endif %}
                        {% if msg4 == 'l' %}
                        <a href="login"><button class="btn btn--radius btn--green">Home</button></a>
                        {% endif %}
                        {% if msg4 == 'fh' %}
                        <a href="search"><button class="btn btn--radius btn--green">Search</button></a>
                        <a href="home"><button class="btn btn--radius btn--green">Home</button></a>
                        {% endif %}
                        {% if msg4 == 'bfh' %}
                        <a href="bloodbanks"><button class="btn btn--radius btn--green">Bloodbanks</button></a>
                        <a href="search"><button class="btn btn--radius btn--green">Search</button></a>
                        <a href="home"><button class="btn btn--radius btn--green">Home</button></a>
                        {% endif %}
                        {% if msg4 == 'lo' %}
                        <a href="getout"><button class="btn btn--radius btn--green">Logout</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{% static 'signup/vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'signup/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'signup/vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'signup/vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'signup/js/global.js' %}"></script>

</body>

</html>
<!-- end document-->